#:schema: https://www.schemastore.org/prek.json

[[repos]]
repo = "builtin"
hooks = [
    { id = "trailing-whitespace" },
    { id = "end-of-file-fixer" },
    { id = "check-added-large-files" },
]

[[repos]]
repo = "local"
[[repos.hooks]]
id = "golangci-lint"
name = "golangci-lint"
entry = "golangci-lint run --fix"
language = "system"
types = ["go"]
pass_filenames = false

[[repos]]
repo = "local"
[[repos.hooks]]
id = "go-test"
name = "go test"
entry = "go test ./... -count=1"
language = "system"
types = ["go"]
pass_filenames = false
stages = ["pre-push"]
